{
    "api_key": "xxxxx",
    "base_url": "https://generativelanguage.googleapis.com/v1beta/openai/",
    "model": "gemini-2.5-flash",
    "auto_play_audio": "true",
    "diff_output_path": "diffs_text.txt",
    "audio_output_path": "translated.mp3",
    "edge_tts_sound_name": "en-GB-LibbyNeural",
    "target_language": "English"
}
