{
    "api_key": "xxxxx",
    "base_url": "https://generativelanguage.googleapis.com/v1beta/openai/",
    "model": "gemini-2.5-flash",
    "auto_play": "true",
    "diff_output_path": "D:\\scoop\\persist\\rainmeter\\Skins\\ShowDiffs\\@Resources\\diffs.ini",
    "showdiffs_skin_path": "D:\\scoop\\persist\\rainmeter\\Skins\\ShowDiffs\\ShowDiffs.ini",
    "audio_file_path": "translated.mp3",
    "sound_name": "en-GB-LibbyNeural",
    "target_language": "English",
    "system_prompt_path": "src/resources/system_prompt.txt"
}
